# Copy this file to .env (or export env vars) before running.
GLOBAL_NODE_MODULES=REPLACE_ME
HOME=REPLACE_ME
PLAYWRIGHT_CACHE=REPLACE_ME
PLAYWRIGHT_ENV=REPLACE_ME
SANDBOX_VERCEL_PROJECT_ID=REPLACE_ME
SANDBOX_VERCEL_TEAM_ID=REPLACE_ME
SANDBOX_VERCEL_TOKEN=REPLACE_ME
